.book-explorer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  align-items: center;
  background-color: #6b968874;
  padding: 10px 5px;
  margin: 20px;
  border-radius: 20px;
}

.book-explorer-top input,
.book-explorer-top select,
.book-explorer-top button {
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  outline: none;
  transition: all 0.2s ease;
}


.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.book-card {
  width: 150px;
  text-align: center;
  position: relative;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.book-card .book-title {
  padding: 5px;
  font-weight: bold;
  font-size: 14px;
}

.book-card .book-author {
  font-size: 12px;
  color: #555;
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

.pagination button {
  padding: 6px 10px;
  cursor: pointer;
}
