.hero {
  display: flex;
  min-height: 70vh;
  width: 100%;
}

.hero-text,
.hero-image {
  width: 50%;
  margin: 10px;
}


.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.hero-quote {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 15px;
}

.hero-phrase {
  font-size: 1rem;
  color: #555;
}


.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  max-width: 90%;
  height: auto;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }

  .hero-text,
  .hero-image {
    width: 100%;
    text-align: center;
  }

  .hero-text {
    padding: 40px 20px;
  }
}


#author-of-the-day {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  text-align: center;     
  padding: 20px;
}

.author-img {
  width: 250px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.books-row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.book-wrapper {
  position: relative;
  width: 180;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

.book-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.book-wrapper .book-title {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 12px;
  padding: 3px 5px;
  text-align: center;}

.hero-text {
        padding: 0px;
    }

.book-wrapper {
  height: 160px;
  width: 120px;
}

.books-row {
  gap: 5px;
}




