.flow-card {
  position: relative;
  width: 180px;
  height: 280px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background: transparent; 
}

.flow-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.3);
}

.section-title {
  margin: 10px;
}


.cover-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.card-overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



.book-title {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.28);
  text-shadow: 0 2px 8px rgba(0,0,0,1);
  line-height: 1.4;
}


.progress-circle {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-circle svg {
  width: 110px;
  height: 110px;
  filter: drop-shadow(0 4px 12px rgba(0,0,0,0.6));
}

.bg {
  fill: none;
  stroke: rgba(255,255,255,0.25);
  stroke-width: 7;
}

.fg {
  fill: none;
  stroke: #588eb8;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-dasharray: 251;
  stroke-dashoffset: 251;
  transform: rotate(-90deg);
  transform-origin: center;
  transition: stroke-dashoffset 1s ease;
}

.percent-text {
  fill: white;
  font-size: 22px;
  font-weight: bold;
  text-anchor: middle;
  filter: drop-shadow(0 2px 6px rgba(0,0,0,0.8));
}

.music-toggle {
  position: fixed;
  margin-top: 10px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: rgba(0, 0, 0, 0.5);
  padding: 6px 12px;
  border-radius: 30px;
  z-index: 9999;
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.music-toggle .music-icon {
  font-size: 18px;
}

.books-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}